.group {
  background: #8f8b8b;
  width: 180px;
  margin: 0 auto 20px;
  display: grid;
  grid-template-columns: 100px 80px;
  border-radius: 10px;
}

input,
select {
  background: none;
  border: 0;
  /* color: white; */
}

input {
  padding-left: 10px;
}

select {
  padding: 6px;
}