table {
  background-color: #8f8b8b;
  border-collapse: collapse;
  max-width: 900px;
  width: 100%;
  margin: 2rem auto;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.input {
  text-align: center;

}

h1 {
  text-align: center;
}

.input input {
  background-color: #8f8b8b;
  border-radius: 7px;

}